.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}
.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}
.slider .social-icon a {
  margin: 0 3px;
}
.navbar .navbar-nav .nav-link {
  text-transform: capitalize;
}
.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}
.block-sec .vid-area {
  z-index: 99;
}
.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}
section.testimonials {
  overflow: hidden;
}
.contact-page .pages-header {
  overflow: hidden;
}
.CircularProgressbar {
  width: 110px;
  height: 110px;
}
.slick-prev,
.slick-next {
  display: none !important;
}
body .slick-dots li button {
  display: block !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.team .navs span.next.cursor-pointer {
  margin: 0 7px;
}
.projdtal .justified-gallery a {
  width: 100%;
  margin-bottom: 15px;
}
.projdtal .justified-gallery img {
  min-height: 440px;
  height: 440px;
  object-fit: cover;
  width: 100%;
}

.projdtal .justified-gallery .big-img {
  min-height: 700px;
  height: 700px;
}
.topnav .menu-icon {
  display: flex;
}
@media screen and (max-width: 991px) {
  .collapse {
    display: block;
    height: 0;
    padding: 0;
    opacity: 0;
  }
  .navbar .navbar-collapse.show-with-trans {
    opacity: 1;
    padding: 10px 15px;
    height: auto;
    transition: all 0.3s linear;
  }
}
section.next-prog {
  overflow: hidden;
}
.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}
.hideX .pace {
  display: none !important;
}

#ieatmaps iframe {
  width: 100%;
  height: 100%;
}
section.team.section-padding {
  overflow: hidden;
}
@media (min-width:768px){
  .logoBackMenu{
    margin-bottom: 40px;
    position: absolute;
    bottom: 0;
    padding-left: 50px;
  }
  img.isologofloat {
    max-width: 238px;
    float: right;
    position: absolute;
    left: 45%;
    top: 22%;
    opacity: 0.2;
    /* animation-name: floating;
    animation-duration: 2s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 25px); }
  100%   { transform: translate(0, -0px); }   
}
@keyframes drift {
  from {
    transform: translateY(-6%);
  }

  to {
    transform: translateY(6%);
  }
}

@keyframes shadow {
  from {
    transform: translate(240%, -240%) scale(0.6);
  }

  to {
    transform: translate(205%, -205%) scale(0.8);
  }
}
}
.social-list li a {
  font-size: 27px;
  padding: 9px 0px;
}
.social-list  {
 margin-top:20px;
 margin-right: 9px;
}
ul.social-list a.glyphicon svg {
  float: left;
  margin: 3px 20px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
ul.social-list a.glyphicon svg:hover {
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  color:#F1D00A;
}
.social-nav{
    z-index: 10000;
    position: absolute;
    top: 130px;
    color: var(--white);
    right: calc(var(--mdc-layout-grid-margin-widescreen) + 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.social-nav-text {
  writing-mode: vertical-lr;
  font-size: 19px;
  color: grey;
}

.container-fluid:after{
  background-position: center bottom;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #ffffff47 2px, transparent 2px), linear-gradient(to bottom, #555555 1px, #856b6b00 2px);
}
@media (max-width:767px){

  .mouse-cursor{display: none;}
  img.isologofloat {
    max-width: 194px;
    float: right;
    position: absolute;
    left: 17%;
    top: 22%;
    opacity: 0.2;
   /*  animation-name: floating;
    animation-duration: 5s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 25px); }
  100%   { transform: translate(0, -0px); }   
}
@keyframes drift {
  from {
    transform: translateY(-6%);
  }

  to {
    transform: translateY(6%);
  }
}

@keyframes shadow {
  from {
    transform: translate(240%, -240%) scale(0.6);
  }

  to {
    transform: translate(205%, -205%) scale(0.8);
  }
}
.hamenu .container-fluid:after {
  -webkit-transform: perspective(200px) rotateX(
38deg) scale(2.5,1) translateZ(0);
  -moz-transform: perspective(200px) rotateX(38deg) scale(2.5,1) translateZ(0);
  transform: perspective(200px) rotateX(
38deg) scale(2.5,1) translateZ(0);

  bottom: 0;
  left: 9px;
  right: 0;
  width: 103%;
  height: 100vh;
}
.container-fluid:after {
  background-position: center bottom;
  background-size: 29px 25px;
}
.hamenu .menu-links {
  color: #fff;
  margin-top: 82px;
  margin-left: 3px;
}
.hamenu {
  padding: 20px 0px 0px;
}
h1.inicio-texto {
  text-align: center;
  text-transform: uppercase;
  line-height: 4rem;
  font-size: 14.8vw;
  transform: rotate(90deg);
}
}
.container.segundo {
  max-width: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}
.menu-icon {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  top:13px;
}

.menu-icon span:first-child
{
  transform-origin: 0% 0%;
}

.menu-icon span:nth-last-child(1)
{
  transform-origin: 0% 100%;
}

.menu-icon input:focus ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #ffffff;
}
.menu-icon input:focus ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.topnav .text .menu-text i {
  display: block;
  width: 35px;
  height: 1px;
  background: #fff;
  margin: 10px 0;
  position: relative;
}
.topnav .menu-icon.open .text .menu-text span i {
  transform: rotate(326deg) translate(0, -4px);
}
.topnav .menu-icon.open .text .menu-text span i:nth-last-child(2) {
  transform: rotate(-144deg) translate(0, -8px);
}
.container-scroll {
  position: relative;
  height: 100vh;
}
.page {
  height: 100%;
}
button.boton-inicio {
  background: transparent;
  border: 1px solid white;
  font-size: 22px;
  padding: 7px 18px;
  color: white;
}
html {
  scroll-behavior: smooth;
}
div#contact {
  height: 100vh;
  -moz-box-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.link:hover {
  --fill-color: #F1D00A;
}
section.inicio{
  height: 100vh;
  -moz-box-align: center;
  display: -moz-box;
  display: flex;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}
span.uno {
  font-size: 55px;
  font-family: 'Termina W00 Demi';
}
span.dos {
  font-size: 95px;
  color: #F1D00A;
  font-family: 'Termina W05 Black';
}
span.tres {
  font-size: 95px;
  font-family: 'Termina W05 Black';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  color: transparent;
  position: absolute;
  top: 75px;
  left: 365px;
}
.cont a {
  font-family: 'Termina W00 Demi';
  font-size: 15px;
}
.container-fluid.inicio {
  margin-left: 125px;
}
h1.inicio-texto {
  display: grid;
}
span.izquierda {
  font-family: 'Termina W05 Black';
  font-size: 14vw;
  position: absolute;
  z-index: -1;
  left: -269px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  opacity: 0.1;
  bottom: 0;
  margin-bottom: 0px;
  animation: leftright 5s;
  overflow: hidden;
  white-space: nowrap;
  width: 80vw;
}
@keyframes leftright {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}
span.derecha {
  font-family: 'Termina W05 Black';
  font-size: 14vw;
  position: absolute;
  z-index: -1;
  right: -139px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  opacity: 0.1;
  top: 0%;
  margin-top: 40px;
  animation: rightleft 6s;
  overflow: hidden;
  white-space: nowrap;
  width: 60vw;
}
@keyframes rightleft {
  100% {
    max-width: 100%;
  }
  0% {
    max-width: 0%;
  }
}
#container {
  color: #999;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: bold;
  position: relative;
  top: 32px;
  left: -10px;
}

#flip {
  height: 75px;
  overflow: hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 10s linear infinite;
}
.prim {
  position: relative;
  bottom: 9px;
  right: 0px;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
.center {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}
.pulse {
  width: 150px;
  height: 150px;
  background: #f1ce0a00;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pulse:hover {
  width: 150px;
  height: 150px;
  background: #f1ce0a93;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.isoLogo{
  max-width: 85px;
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s linear;
}
.topnav.active .isoLogo{
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
  max-width: 0px;
}
.logotipo{opacity: 0;}
.topnav.active .logotipo{
  width: 300px;
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s linear;
}