.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}
footer .container-fluid {
  padding: 0;
}
.cont a.icon {
  font-family: 'Termina W00 Demi';
  font-size: 25px;
  padding: 0 30px 0px 8px;
}
.con-info-dos a {
  font-family: 'Termina W00 Demi';
  font-size: 25px!important;
}
.con-info ul {
  display: flex;
  justify-content: center;
  color: #F0F0F0!important;
  font-size: 12px;
  font-family: 'Termina W00 Demi';
}
.con-info-dos ul {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  color: #F0F0F0!important;
  font-size: 10px;
  font-family: 'Termina W00 Demi';
  align-items: center;
}
.con-info-dos span {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.con-info ul li{
padding: 0 8px;
}
.con-info-dos ul li {
  padding: 0 14px;
}
span.dos-contact {
  font-size: 64px;
  color: #f0f0f0;
  font-family: 'Termina W05 Black';
  position: absolute;
  margin-top: -33px;
}
span.pre {
  position: relative;
  bottom: 36px;
  font-size: 20px;
  font-family: 'Termina W00 Demi';
  color: #3E497A;
}
#contact .row.cont-uno {
  width: 94vw;
  margin: 0 auto;
}
#contact .row.cont-dos {
  width: 86vw;
  margin: 0 auto;
}
span.tres-contact {
  font-size: 64px;
  font-family: 'Termina W05 Black';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  color: transparent;
  position: absolute;
  margin-top: -33px;
  margin-left: 191px;
}
span.text-red-400.text-sm.py-2 {
  display: block;
  position: absolute;
  margin-top: -98px;
  margin-left: 22px;
  color: red;
}
#contact input {
  background: #21325E;
  border: none;
  width: 28.01vw;
  color: white;
}
input.emailclass {
  border-left: 2px solid white!important;
  border-right: 2px solid white!important;
}
#contact textarea{
  color:white;
}
form.grid.grid-cols-1.gap-y-6 {
  background: #21325E;
  margin-top: 80px;
}
form .row {
  margin: 0!important;
  border: 2px solid white;
  margin-top: 84px;
}
#contact textarea {
  background: #21325E;
  border: 2px solid white;
  width: 100%;
  border-top: none;
  height: 238px;
}
.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}
.texto-inicio {
  position: absolute;
  bottom: 83px;
  width: 800px;
  left: -15px;
}
.slider .social-icon a {
  margin: 0 3px;
}
.navbar .navbar-nav .nav-link {
  text-transform: capitalize;
}
.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}
.block-sec .vid-area {
  z-index: 99;
}
.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}
section.testimonials {
  overflow: hidden;
}
.contact-page .pages-header {
  overflow: hidden;
}
.CircularProgressbar {
  width: 110px;
  height: 110px;
}
.slick-prev,
.slick-next {
  display: none !important;
}
body .slick-dots li button {
  display: block !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.team .navs span.next.cursor-pointer {
  margin: 0 7px;
}
.projdtal .justified-gallery a {
  width: 100%;
  margin-bottom: 15px;
}
.projdtal .justified-gallery img {
  min-height: 440px;
  height: 440px;
  object-fit: cover;
  width: 100%;
}
#contact button {
  background: #f4ca00;
  color: #21325E!important;
  padding: 10px 62px;
  font-weight: 600;
    float: right;
    margin-top: -37px;
}
input:-internal-autofill-selected {background-color: red;}
.projdtal .justified-gallery .big-img {
  min-height: 700px;
  height: 700px;
}
.topnav .menu-icon {
  display: flex;
}
@media screen and (max-width: 991px) {
  .collapse {
    display: block;
    height: 0;
    padding: 0;
    opacity: 0;
  }
  .navbar .navbar-collapse.show-with-trans {
    opacity: 1;
    padding: 10px 15px;
    height: auto;
    transition: all 0.3s linear;
  }
}
section.next-prog {
  overflow: hidden;
}
.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}
.hideX .pace {
  display: none !important;
}

#ieatmaps iframe {
  width: 100%;
  height: 100%;
}
section.team.section-padding {
  overflow: hidden;
}
@media (min-width:768px){
  ul.second-file {
    display: none;
  }
  .con-info-dos.custom-font.desktop {
    display: block;
  }
  .con-info-dos.custom-font.mobile {
    display: none;
  }
  .logoBackMenu{
    margin-bottom: 40px;
    position: absolute;
    bottom: 0;
    padding-left: 50px;
  }
  img.isologofloat {
    max-width: 238px;
    float: right;
    position: absolute;
    left: 45%;
    top: 22%;
    opacity: 0.2;
    /* animation-name: floating;
    animation-duration: 2s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 25px); }
  100%   { transform: translate(0, -0px); }   
}
@keyframes drift {
  from {
    transform: translateY(-6%);
  }

  to {
    transform: translateY(6%);
  }
}

@keyframes shadow {
  from {
    transform: translate(240%, -240%) scale(0.6);
  }

  to {
    transform: translate(205%, -205%) scale(0.8);
  }
}
}
.social-list li a {
  font-size: 27px;
  padding: 9px 0px;
}
.social-list  {
 margin-top:20px;
 margin-right: 9px;
}
ul.social-list a.glyphicon svg {
  float: left;
  margin: 3px 20px;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
ul.social-list a.glyphicon svg:hover {
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  color:#F1D00A;
}
.social-nav{
    z-index: 10000;
    color: var(--white);
    right: calc(var(--mdc-layout-grid-margin-widescreen) + 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
}   
.social-nav-text {
  writing-mode: vertical-lr;
  font-size: 19px;
  color: grey;
}

.container-fluid:after{
  background-position: center bottom;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #ffffff47 2px, transparent 2px), linear-gradient(to bottom, #555555 1px, #856b6b00 2px);
}
.container.segundo {
  max-width: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}
.menu-icon {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  top:13px;
}

.menu-icon span:first-child
{
  transform-origin: 0% 0%;
}

.menu-icon span:nth-last-child(1)
{
  transform-origin: 0% 100%;
}

.menu-icon input:focus ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #ffffff;
}
.menu-icon input:focus ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.topnav .text .menu-text i {
  display: block;
  width: 35px;
  height: 1px;
  background: #fff;
  margin: 10px 0;
  position: relative;
}
.topnav .menu-icon.open .text .menu-text span i {
  transform: rotate(326deg) translate(0, -4px);
}
.topnav .menu-icon.open .text .menu-text span i:nth-last-child(2) {
  transform: rotate(-144deg) translate(0, -8px);
}
.container-scroll {
  position: relative;
  height: 100vh;
}
.page {
  height: 100%;
}
button.boton-inicio {
  background: transparent;
  border: 1px solid white;
  font-size: 22px;
  padding: 7px 18px;
  color: white;
}
html {
  scroll-behavior: smooth;
}
div#contact {
  -moz-box-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  width: 97vw;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 40px;
}
a.link:hover {
  --fill-color: #F1D00A;
}
section.inicio{
  height: 100vh;
  -moz-box-align: center;
  display: -moz-box;
  display: flex;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}
span.uno {
  font-size: 55px;
  font-family: 'Termina W00 Demi';
}
span.dos {
  font-size: 95px;
  color: #F1D00A;
  font-family: 'Termina W05 Black';
}
span.tres {
  font-size: 95px;
  font-family: 'Termina W05 Black';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  color: transparent;
  position: absolute;
  top: 0px;
  left: 455px;
}
.cont a {
  font-family: 'Termina W00 Demi';
  font-size: 15px;
}
.container-fluid.inicio {
  margin-left: 125px;
}
h1.inicio-texto {
  display: grid;
}
span.izquierda {
  font-family: 'Termina W05 Black';
  font-size: 17vw;
  position: absolute;
  z-index: -1;
  margin-left: -286px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  opacity: 0.1;
  bottom: 0;
  margin-bottom: 0px;
  -webkit-animation: linear infinite;
  -webkit-animation-name: runLeft;
  -webkit-animation-duration: 20s;
  width: 60vw;
}
@-webkit-keyframes runLeft {
  0% {
    left: 0;
  }
  50% {
    left: -10%;
  }
  100% {
    left: 0;    
  }
}
span.derecha {
  font-family: 'Termina W05 Black';
  font-size: 17vw;
  position: absolute;
  z-index: -1;
  right: -139px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  opacity: 0.1;
  top: 0%;
  margin-top: 40px;
  -webkit-animation: linear infinite;
  -webkit-animation-name: runRight;
  -webkit-animation-duration: 20s;
  overflow: hidden;
  white-space: nowrap;
  width: 60vw;
}
@-webkit-keyframes runRight {
  0% {
    right: 0;
  }
  50% {
    right: -10%;
  }
  100% {
    right: 0;    
  }
}
@keyframes rightleft {
  100% {
    max-width: 100%;
  }
  0% {
    max-width: 0%;
  }
}
#container {
  color: #999;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: bold;
  position: relative;
  top: 32px;
  left: -10px;
}

#flip {
  height: 75px;
  overflow: hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 10s linear infinite;
}
.prim {
  position: relative;
  bottom: 9px;
  right: 0px;
}


.wrap {  perspective: 800px; perspective-origin: 50% 100px;}
.cube {    
  position: relative;  
  width: 200px; 
  transform-style: preserve-3d;
  }
  .cube div {   
    position: absolute; 
    width: 200px;
    height: 200px;
  }
  
@keyframes show {
  100% {margin-top:-270px;}
  99.99% {margin-top:0px;}
  71% {margin-top:0px;}
  66% {margin-top:-90px;}
  38% {margin-top:-90px;}
  33% {margin-top:-180px;}
  5% {margin-top:-180px;}
  0% {margin-top:-270px;} 
}

.center {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cont-text {
  width: 150px;
  height: 150px;
  background: #f1ce0a00;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
  
}
.textopulse{
  font-family: 'Termina W00 Demi';
  font-size: 15px;
}
.pulse {
  width: 150px;
  height: 150px;
  background: #f1ce0a00;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
  z-index: -1; /* We'll come back to this */
  position: absolute;
  top: -64px;
  right: -15px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  background-image: radial-gradient(#fecf00, #c8a701, #f7d00000);
}
.pulse:hover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 150px;
  z-index: 0;
  opacity: 1;

}
#list {
	position: absolute;
}
#list li {
  float: left;
  margin: 0 1px;
  opacity: 0;
  -webkit-animation: fadeout 400ms ease-out both;
  animation: fadeout 400ms ease-out both;
  font-family: 'Termina W00 Demi';
  font-size: 1.9rem;
  position: relative;
  top: -14px;
  right: -48px
}
@keyframes fadeout {
	to {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
	from {
		opacity: 1;
		transform: translate3d(0, -20%, 0);
	}
}

#list li:nth-child(2) {
	animation-delay: 0.025s;
}
#list li:nth-child(3) {
	animation-delay: 0.065s;
}
#list li:nth-child(4) {
	animation-delay: 0.085s;
}
#list li:nth-child(5) {
	animation-delay: 0.1s;
}
#list li:nth-child(6) {
	animation-delay: 0.2s;
}
#list li:nth-child(7) {
	animation-delay: 0.3s;
}
#list li:nth-child(8) {
	animation-delay: 0.4s;
}
#list li:nth-child(9) {
	animation-delay: 0.5s;
}


.topnav.active #list li {
  float: left;
  margin: 0 1px;
  opacity: 0;
  -webkit-animation: fadeIn 0.2s ease-in both;
  animation: fadeIn 0.2s ease-in both;
  font-family: 'Termina W00 Demi';
  font-size: 1.9rem;
  position: relative;
  top: -14px;
  right: -48px
}


.topnav.active #list li:nth-child(2) {
	animation-delay: 0.025s;
}
.topnav.active #list li:nth-child(3) {
	animation-delay: 0.065s;
}
.topnav.active #list li:nth-child(4) {
	animation-delay: 0.085s;
}
.topnav.active #list li:nth-child(5) {
	animation-delay: 0.1s;
}
.topnav.active #list li:nth-child(6) {
	animation-delay: 0.2s;
}
.topnav.active #list li:nth-child(7) {
	animation-delay: 0.3s;
}
.topnav.active #list li:nth-child(8) {
	animation-delay: 0.4s;
}
.topnav.active #list li:nth-child(9) {
	animation-delay: 0.5s;
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.topnav.active .logotipo {
  width: 25px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  position: absolute;
  left: 46px;
  opacity: 1;
  bottom: 40px;
}
.isoLogo {
  max-width: 98px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 1s, opacity 1s linear;
  transition: visibility 1s, opacity 1s linear;
  position: absolute;
  top: 35px;
  left: 43px;
}
.letrasLogo{
  font-family: 'Termina W00 Demi';
  text-transform: uppercase;
  position: absolute;
  left: 160px;
  font-size: 3.5em;
  bottom: -16px;
  opacity: 0;
  -webkit-transition: visibility 0.3s, opacity 0.3s linear;
  transition: visibility 0.3s, opacity 0.3s linear;
}
.topnav.active span.letrasLogo {
  font-family: 'Termina W00 Demi';
  text-transform: uppercase;
  position: absolute;
  left: 98px;
  font-size: 2rem;
  bottom: 34px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  opacity: 1;
}
.topnav.active .isoLogo{
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s linear;
  max-width: 0px;
}
.logotipo{
  width: 48px;
  visibility: visible;
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  position: absolute;
  left: 70px;
  opacity: 1;
  bottom: -7px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.container-text{
  position: absolute;
  perspective: 1994400000px;
  transform-style: preserve-3d;
  animation: rotate 8s ease-in infinite 0s;
  top: -26px;
  left: 20px;
}
.container-text div{
  background: #21325E;
}
.container-text div:nth-child(1){
  transform: rotateX(360deg) translateZ(30px);
  
}
.container-text div:nth-child(2){
  transform: rotateX(270deg) translateZ(30px);
}
.container-text div:nth-child(3){
  transform: rotateX(180deg) translateZ(30px);

}
.container-text div:nth-child(4){
  transform: rotateX(90deg) translateZ(30px);
  
}
@keyframes mv {

  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
@keyframes rotate {
  0%{
      transform: rotateX(0deg);
  }
  25%{
      transform: rotateX(90deg);
  }
  50%{
      transform: rotateX(180deg);
      
  }

  75%{
      transform: rotateX(270deg);
  }
  100%{
      transform: rotateX(360deg);
  }
}
.container-text div {
  position: absolute;
  color: white;
  height: 61px;
  width: 420px;
  padding: 0px 0px 30px 0px;
  margin: -30px 0;
  font-size: 40px;
}
@media (max-width:767px){
  .con-info-dos ul {
    margin-top: 0px;
    font-size: 10px;
}
.con-info-dos ul li {
  padding: 0 12px;
  text-align: center;
  display: inline-flex;
}
ul.second-file {
  display: block;
    -moz-box-pack: center;
    text-align: center;
    margin: 0 auto;
    font-family: 'Termina W00 Demi';
    font-size: 11px;
}
.second-file li {
  padding: 5px 0;
}
  .mobile .row {
    justify-content: center;
}
  .con-info-dos.custom-font.desktop {
    display: none;
}
.con-info-dos.custom-font.mobile {
  display: block;
  width: 100%;
}
  .footer-half .copyrights p {
    font-size: 8px;
    color: #999;
}
  .con-info ul {
    display: block;
    font-size: 9px;
    font-family: 'Termina W00 Demi';
}
.footer-half .cont .logo {
  width: 191px;
  margin: 16px auto;
}
  span.dos-contact {
    font-size: 24px;
    color: #f0f0f0;
    font-family: 'Termina W05 Black';
    position: absolute;
    margin-top: 20px;
    margin-left: 22px;
}
span.tres-contact {
  font-size: 24px;
  font-family: 'Termina W05 Black';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  color: transparent;
  position: absolute;
  margin-top: 20px;
  margin-left: 95px;
}
span.pre {
  position: relative;
  bottom: -12px;
  font-size: 15px;
  font-family: 'Termina W00 Demi';
  color: #3E497A;
  right: -8px;
}
  form .row {
    margin: 0!important;
    width: 100%;
    display: block;
}
div#contact {
  width: 100vw;
  margin: 0 auto;
}
input.emailclass {
  border-left: 0px solid white!important;
  border-right: 0px solid white!important;
  border-top: 2px solid white!important;
  border-bottom: 2px solid white!important;
}
#contact input {
  background: #21325E;
  border: none;
  width: 100%;
  color: white;
}
#contact button {
  margin-top: -67px;
  width: 100%;
}
p.aceptar {
  position: relative;
  top: 71px;
}
  .logotipo {
    width: 31px;
    visibility: visible;
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    position: absolute;
    left: 34px;
    opacity: 1;
    bottom: -5px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

  .mouse-cursor{display: none;}
  img.isologofloat {
    max-width: 194px;
    float: right;
    position: absolute;
    left: 17%;
    top: 22%;
    opacity: 0.2;
   /*  animation-name: floating;
    animation-duration: 5s; */
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 25px); }
  100%   { transform: translate(0, -0px); }   
}
@keyframes drift {
  from {
    transform: translateY(-6%);
  }

  to {
    transform: translateY(6%);
  }
}

@keyframes shadow {
  from {
    transform: translate(240%, -240%) scale(0.6);
  }

  to {
    transform: translate(205%, -205%) scale(0.8);
  }
}
.hamenu .container-fluid:after {
  -webkit-transform: perspective(200px) rotateX(
38deg) scale(2.5,1) translateZ(0);
  -moz-transform: perspective(200px) rotateX(38deg) scale(2.5,1) translateZ(0);
  transform: perspective(200px) rotateX(
38deg) scale(2.5,1) translateZ(0);

  bottom: 0;
  left: 9px;
  right: 0;
  width: 103%;
  height: 100vh;
}
.container-fluid:after {
  background-position: center bottom;
  background-size: 29px 25px;
}
.hamenu .menu-links {
  color: #fff;
  margin-top: 82px;
  margin-left: 3px;
}
.hamenu {
  padding: 20px 0px 0px;
}
h1.inicio-texto {
  text-align: left;
  text-transform: none;
  line-height: 1.4;
  font-size: 2vw;
  right: 88px;
  position: absolute;
  bottom: -55px;
}
.topnav.active .logotipo {
  width: 23px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  position: absolute;
  left: 27px;
  opacity: 1;
  bottom: 16px;
}
.topnav.active #list li {
  float: left;
  margin: 0 1px;
  opacity: 0;
  -webkit-animation: fadeIn 0.2s ease-in both;
  animation: fadeIn 0.2s ease-in both;
  font-family: 'Termina W00 Demi';
  font-size: 1.5rem;
  position: relative;
  top: -13px;
  right: -51px;
}
#list li {
  float: left;
  margin: 0 1px;
  opacity: 0;
  -webkit-animation: fadeout 400ms ease-out both;
  animation: fadeout 400ms ease-out both;
  font-family: 'Termina W00 Demi';
  font-size: 1.4rem;
  position: relative;
  top: -10px;
  right: -51px;
}
span.dos {
  font-size: 55px;
  color: #F1D00A;
  font-family: 'Termina W05 Black';
}
.container-text {
  position: absolute;
  -webkit-perspective: 1994400000px;
  perspective: 1994400000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: rotate 8s ease-in infinite 0s;
  animation: rotate 8s ease-in infinite 0s;
  top: -34px;
  left: 0px;
}
.container-fluid.inicio {
  margin-left: 0px;
}
.container-text div {
  position: absolute;
  color: white;
  height: 61px;
  width: 300px;
  padding: 0px 0px 30px 0px;
  margin: -30px 0;
  font-size: 40px;
}
span.derecha {
  font-family: 'Termina W05 Black';
  font-size: 22vw;
  position: absolute;
  z-index: -1;
  right: -3px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  opacity: 0.1;
  top: 0%;
  margin-top: 118px;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 25s;
  overflow: hidden;
  white-space: nowrap;
  width: 87vw;
}
@-webkit-keyframes run {
  0% {
    right: 0;
  }
  50% {
    right: 10%;
  }
  100% {
    right: -10;    
  }
}
span.izquierda {
  font-family: 'Termina W05 Black';
  font-size: 22vw;
  position: absolute;
  z-index: -1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  opacity: 0.1;
  bottom: 48px;
  margin-bottom: 0px;
  -webkit-animation: leftright 5s;
  animation: leftright 5s;
  overflow: hidden;
  white-space: nowrap;
  width: 100vw;
  -webkit-animation: linear infinite;
  -webkit-animation-name: runLeft;
  -webkit-animation-duration: 20s;
  margin-left: -18px;
}
span.tres {
  font-size: 61px;
  font-family: 'Termina W05 Black';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  color: transparent;
  position: absolute;
  top: 52px;
  left: 0px;
}
.texto-inicio {
  position: absolute;
  bottom: -3px;
  width: 333px;
  left: 24px;
}
}
@media (max-width: 330px){
  .logotipo {
    width: 28px;
    visibility: visible;
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    position: absolute;
    left: 34px;
    opacity: 1;
    bottom: 22px;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.topnav.active .logotipo {
  width: 19px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  position: absolute;
  left: 22px;
  opacity: 1;
  bottom: 47px;
}
.topnav.active #list li {
  font-size: 1.2rem;
}
#list li {
  font-size: 1.2rem;
}
.menu-icon {
  top: 2px;
}
.topnav.active .menu-icon {
  top: -8px;
}
h1.inicio-texto {
  text-align: left;
  text-transform: none;
  line-height: 1.4;
  font-size: 2vw;
  right: 32px;
  position: absolute;
  bottom: -55px;
}
}